html[dir="ltr"] #content{
    padding-left:15px
}
html[dir="rtl"] #content{
    padding-right:15px
}

::selection {
    background-color: #cce2ff;
    color: rgba(0,0,0,.87);
}
::moz-selection {
    background-color: #cce2ff;
    color: rgba(0,0,0,.87);
}

h1.page-header{
    border-bottom:0;
    font-weight:lighter
}
html[dir="ltr"] h1.page-header{
    border-left:4px solid #ff5e1a;
    padding:0 0 0 .5em
}
html[dir="rtl"] h1.page-header{
    border-right:4px solid #ff5e1a;
    border-left:none;
    padding:0 .5em 0 0
}
.page-icon{
    display:none
}
@media(max-width:768px){
    .cpanel_body .alert-list-container.position-top-right,.cpanel_body .alert-list-container.position-top-left,.cpanel_body .alert-list-container.position-top-middle{
        top:60px
    }
}
.navbar-cpanel{
    background-color:#fff;
    border-color:#e4e9f2;
    box-shadow:none
}
@media(max-width:768px){
    html[dir="ltr"] .navbar-brand{
        margin-left:inherit
    }
    html[dir="rtl"] .navbar-brand{
        margin-right:inherit
    }
}
.navbar-brand.navbar-brand-str{
    color:rgba(10,37,64,0.8)
}
.navbar-brand.navbar-brand-str:hover{
    color:#0a2540
}
.navbar-brand-logo{
    max-width:250px
}
.navbar-brand-logo.navbar-brand-cpan-logo{
    height:20px;
    width:90px
}
@media(max-width:575.98px){
    .navbar-brand-logo{
        max-height:50px
    }
}
@media(max-width:768px){
    body{
        padding-top:25px
    }
    .navbar-preferences,header .navbar{
        height:50px;
        min-height:50px
    }
    #lnkHeaderDiskUsage,#btnUserPref,#btnMobileHeaderSearch,a.link-buttons,#lnkHeaderHome,.cp-nav-toggle{
        height:50px;
        min-height:50px
    }
    a.link-buttons{
        padding:6px 12px;
        line-height:37px
    }
}
.quickFindDiv:after{
    display:inline-block;
    color:#8f9bb3;
    left:12px;
    z-index:0
}
html[dir="rtl"] .quickFindDiv:after{
    right:12px;
    left:auto
}
.quickFindDiv .dropdown-menu{
    width:100%
}
@media(min-width:576px){
    .quickFindDiv .dropdown-menu{
        width:245px
    }
}
@media(min-width:768px){
    .quickFindDiv .dropdown-menu{
        width:345px
    }
}
.quickFindDiv input#txtQuickFind{
    display:inline-block;
    height:34px;
    width:245px;
    border-radius:4px;
    border:1px solid #e4e9f2;
    background-color:#f7f9fc;
    color:#8f9bb3;
    opacity:inherit;
    -webkit-box-shadow:inherit;
    box-shadow:inherit;
    text-indent:24px;
    margin-right:12px
}
@media(min-width:768px){
    .quickFindDiv input#txtQuickFind{
        width:345px
    }
}
html[dir="rtl"] .quickFindDiv input#txtQuickFind{
    border:1px solid #e4e9f2;
    margin-right:0;
    margin-left:12px
}
.quickFindDiv input#txtQuickFind:active,.quickFindDiv input#txtQuickFind:hover,.quickFindDiv input#txtQuickFind:focus{
    background-color:#fff;
    border:1px solid #8f9bb3;
    color:#0a2540;
    opacity:inherit
}
.navbar-preferences .dropdown-menu{
    overflow:hidden;
    border-radius:4px;
    border:1px solid #e4e9f2
}
@media(max-width:575.98px){
    .navbar-preferences .dropdown-menu{
        top:48px;
        width:100vw;
        min-width:100vw;
        border:0;
        -webkit-box-shadow:none;
        box-shadow:none;
        margin-right:0;
        margin-left:0;
        overflow-y:auto;
        max-height:calc(100vh - 50px)
    }
}
.navbar-preferences .dropdown-menu>li>a{
    border-bottom:1px solid #e4e9f2;
    color:#0a2540;
    padding:15px 20px
}
.navbar-preferences .dropdown-menu>li>a:before{
    color:rgba(10,37,64,0.8)
}
.navbar-preferences .dropdown-menu>.show-option ~ .show-option>a{
    border-bottom:0;
    border-top:1px solid #e4e9f2
}
.navbar-preferences .dropdown-menu>li:last-child>a{
    border-bottom:0;
    border-top:1px solid #8f9bb3
}
.navbar-preferences .dropdown-menu>li>a:hover,.navbar-preferences .dropdown-menu>li>a:focus,.navbar-preferences .dropdown-menu>.active>a,.navbar-preferences .dropdown-menu>.active>a:hover,.navbar-preferences .dropdown-menu>.active>a:focus{
    background-color:#f7f9fc;
    color:#0a2540
}
@media(max-width:575.98px){
    .navbar-preferences .dropdown-menu>li>a:hover,.navbar-preferences .dropdown-menu>li>a:focus,.navbar-preferences .dropdown-menu>.active>a,.navbar-preferences .dropdown-menu>.active>a:hover,.navbar-preferences .dropdown-menu>.active>a:focus{
        background-color:transparent
    }
}
.navbar-preferences .dropdown-menu>li[data-type="no-results"]{
    color:#0a2540;
    padding:15px 20px
}
#btnUserPref,a.link-buttons,#btnMobileHeaderSearch,#btnMobileClearHeaderSearch{
    background-color:transparent;
    color:rgba(10,37,64,0.6);
    border:0;
    margin:0
}
#btnUserPref:hover,a.link-buttons:hover,#btnMobileHeaderSearch:hover,#btnMobileClearHeaderSearch:hover,#btnUserPref:active,a.link-buttons:active,#btnMobileHeaderSearch:active,#btnMobileClearHeaderSearch:active,#btnUserPref:focus,a.link-buttons:focus,#btnMobileHeaderSearch:focus,#btnMobileClearHeaderSearch:focus{
    background-color:transparent;
    color:rgba(10,37,64,0.8)
}
.btn-notifications>.notification-badge{
    color:#3264fc;
    background-color:#3264fc;
    border-radius:50%;
    width:8px;
    height:8px;
    min-width:8px;
    opacity:1;
    position:absolute;
    left:27px;
    top:12px
}
@media(max-width:575.98px){
    .menu-open .btn-notifications{
        display:none
    }
}
.user-preferences-btn .user-icon{
    padding-bottom:4px
}
html[dir="ltr"] .user-preferences-btn .caret{
    margin-left:4px
}
html[dir="rtl"] .user-preferences-btn .caret{
    margin-left:0;
    margin-right:4px
}
.user-menu-close{
    display:none
}
@media(max-width:575.98px){
    .dropdown.open .user-menu-close{
        display:inline
    }
    .dropdown.open #userImg,.dropdown.open #lblUserNameTxt,.dropdown.open #caretImg{
        display:none
    }
    .dropdown.open .user-preferences-btn{
        min-width:55px
    }
}
.menu-open #btnMobileHeaderSearch{
    display:none
}
#userPrefMenu .dropdown-menu{
    min-width:330px
}
#btnMobileClearHeaderSearch{
    display:none;
    cursor:pointer
}
@media(min-width:576px){
    #btnMobileHeaderSearch{
        display:none
    }
}
@media(max-width:575.98px){
    #typeAheadComponent{
        display:none
    }
    .navbar.search-component-focused #lnkHeaderHome,.navbar.search-component-focused #lnkHeaderNotifications,.navbar.search-component-focused #userPrefMenu,.navbar.search-component-focused #btnMobileHeaderSearch{
        display:none
    }
    .navbar.search-component-focused .navbar-preferences{
        font-size:1em;
        position:static;
        float:none
    }
    .navbar.search-component-focused .navbar-preferences::before{
        display:none
    }
    .navbar.search-component-focused #typeahead-menu{
        border-radius:0
    }
    .navbar.search-component-focused #txtQuickFind{
        position:relative;
        z-index:1;
        background:transparent;
        border:0;
        height:100%;
        width:100%;
        padding:0;
        border-radius:0;
        text-indent:45px;
        font-size:14px;
        line-height:1.42857143
    }
    html[dir="ltr"] .navbar.search-component-focused #txtQuickFind{
        padding-right:0
    }
    html[dir="rtl"] .navbar.search-component-focused #txtQuickFind{
        padding-left:0
    }
    .navbar.search-component-focused #txtQuickFind:active,.navbar.search-component-focused #txtQuickFind:hover,.navbar.search-component-focused #txtQuickFind:focus{
        background-color:transparent
    }
    .navbar.search-component-focused #typeAheadComponent{
        display:block;
        height:100%;
        padding:0;
        position:relative
    }
    .navbar.search-component-focused #typeAheadComponent #btnMobileClearHeaderSearch{
        display:inline-block;
        padding:10px;
        position:absolute;
        z-index:2;
        top:50%;
        transform:translateY(-50%)
    }
    html[dir="ltr"] .navbar.search-component-focused #typeAheadComponent #btnMobileClearHeaderSearch{
        left:auto;
        right:0
    }
    html[dir="rtl"] .navbar.search-component-focused #typeAheadComponent #btnMobileClearHeaderSearch{
        left:0;
        right:auto
    }
    .navbar.search-component-focused #typeAheadComponent::after{
        font-size:1.33333em;
        color:rgba(10,37,64,0.6);
        padding:10px;
        position:absolute;
        z-index:0;
        top:50%;
        transform:translateY(-50%)
    }
    html[dir="ltr"] .navbar.search-component-focused #typeAheadComponent::after{
        left:0
    }
    html[dir="rtl"] .navbar.search-component-focused #typeAheadComponent::after{
        right:0
    }
}
html[data-style="basic"] #content #ddlThemes_chosen,html[data-style="basic"] #content #ddlAccounts_chosen{
    font-size:14px
}
html[data-style="basic"] #content #ddlThemes_chosen .chosen-single,html[data-style="basic"] #content #ddlAccounts_chosen .chosen-single{
    border:1px solid #e4e9f2;
    background-image:none;
    background-color:#f7f9fc;
    box-shadow:0 0 transparent;
    height:34px;
    padding-top:4px;
    color:#0a2540
}
html[data-style="basic"] #content #ddlThemes_chosen .chosen-single div,html[data-style="basic"] #content #ddlAccounts_chosen .chosen-single div{
    padding-top:5px
}
html[data-style="basic"] #content #ddlThemes_chosen.chosen-container-active .chosen-single,html[data-style="basic"] #content #ddlAccounts_chosen.chosen-container-active .chosen-single{
    background-color:#fff;
    color:#0a2540;
    border:1px solid #8f9bb3
}
html[data-style="basic"] #content #ddlThemes_chosen.chosen-with-drop .chosen-single,html[data-style="basic"] #content #ddlAccounts_chosen.chosen-with-drop .chosen-single{
    border:1px solid #e4e9f2;
    box-shadow:0 3px 5px 0 rgba(10,37,64,0.25)
}
html[data-style="basic"] #content #ddlThemes_chosen .chosen-drop,html[data-style="basic"] #content #ddlAccounts_chosen .chosen-drop{
    background-color:#fff;
    background-image:none;
    border:1px solid #e4e9f2;
    border-top:transparent;
    box-shadow:0 5px 5px 0 rgba(10,37,64,0.25)
}
html[data-style="basic"] #content #ddlThemes_chosen .chosen-drop .chosen-search>input,html[data-style="basic"] #content #ddlAccounts_chosen .chosen-drop .chosen-search>input{
    border-radius:4px;
    border:1px solid #e4e9f2
}
html[data-style="basic"] #content #ddlThemes_chosen .chosen-drop .chosen-search>input:focus,html[data-style="basic"] #content #ddlAccounts_chosen .chosen-drop .chosen-search>input:focus{
    border:1px solid #8f9bb3
}
html[data-style="basic"] #content #ddlThemes_chosen .chosen-drop .chosen-results>.no-results,html[data-style="basic"] #content #ddlAccounts_chosen .chosen-drop .chosen-results>.no-results{
    color:inherit;
    background:inherit
}
html[data-style="basic"] #content #ddlThemes_chosen .chosen-drop .chosen-results>.highlighted,html[data-style="basic"] #content #ddlAccounts_chosen .chosen-drop .chosen-results>.highlighted{
    background-color:#f7f9fc;
    background-image:none;
    border-radius:4px;
    color:#0a2540
}
#stats a{
    background-color: #e7ecfc;
    color:#365aa2;
    border:0;
}
#stats a:hover{
    color:#2d5ef2
}
#stats .panel-widget .widget-heading{
    background-color:#fff;
    color:#0a2540;
    border:0;
    text-transform:none;
    font-size:14px;
    font-weight:600;
    padding:22px 22px 10px 22px
}
html[dir="rtl"] #stats .panel-widget .widget-heading{
    padding:22px 22px 10px 22px
}
#stats .panel-widget td{
    padding:8px 24px
}
#stats .panel-widget td .general-info-label{
    font-size:12px;
    color:#586376
}
#stats .panel-widget td .general-info-value{
    font-size:14px
}
#stats .panel-widget .app-stat-data .ssl-error-icon{
    color:#f1c40f;
    font-size:18px
}
#stats .panel-widget .app-stat-data .ssl-link-container{
    display:flex;
    justify-content:center
}
html[dir="ltr"] #stats .panel-widget .app-stat-data .ssl-link-container{
    padding-right:8px
}
html[dir="rtl"] #stats .panel-widget .app-stat-data .ssl-link-container{
    padding-left:8px
}
#stats .panel-widget .app-stat-data .ssl-link-container .link-button{
    background-color:#e7ecfc;
    color:#365aa2;
    border:1px solid #365aa2;
    display:block;
    width:100%;
    text-align:center;
    border-radius:4px;
    font-weight:500;
    margin:9px 0 6px 0;
    padding:6px
}
#stats .panel-widget .app-stat-data .ssl-link-container .link-button:hover{
    text-decoration:none;
    color:#3264fc;
    border:1px solid #2d5ef2
}
html[dir="ltr"] #stats .panel-widget .app-stat-data .ssl-link-container .link-button i{
    margin-right:3px
}
html[dir="rtl"] #stats .panel-widget .app-stat-data .ssl-link-container .link-button i{
    margin-left:3px
}
#stats .panel-widget#generalInfoSection table>tbody>tr:last-child :hover{
    background-color:#f7f9fc
}
#stats .panel-widget#generalInfoSection table>tbody>tr:last-child>td{
    padding:0
}
#stats .panel-widget#generalInfoSection table>tbody>tr:last-child>td a{
    display:block;
    padding:16px 24px 16px 24px
}
#stats .panel-widget#generalInfoSection table>tbody>tr:last-child>td a::after{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f054";
    float:right;
    color:#8f9bb3
}
html[dir="rtl"] #stats .panel-widget#generalInfoSection table>tbody>tr:last-child>td a::after{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f053";
    float:left
}
#stats #statsSection .app-name{
    color:#586376;
    font-size:12px;
    font-weight:600
}
#stats #statsSection .warning>.app-stat-data,#stats #statsSection .info>.app-stat-data,#stats #statsSection .success>.app-stat-data,#stats #statsSection .danger>.app-stat-data{
    background-color:transparent;
    box-shadow:none
}
#stats #statsSection .limits-wrapper{
    display:flex
}
html[dir="ltr"] #stats #statsSection .limits-wrapper{
    margin-right:4px
}
html[dir="rtl"] #stats #statsSection .limits-wrapper{
    margin-left:4px
}
#stats #statsSection .limits-data{
    flex:1;
    font-size:14px
}
#stats #statsSection .stats-fix-icon{
    font-size:25px;
    margin-top:-7px
}
#stats #statsSection .stats-fix-icon.danger{
    color:#e74c3c
}
#stats #statsSection .stats-fix-icon.warning{
    color:#f1c40f
}
#stats #statsSection .error-wrapper{
    display:flex
}
#stats #statsSection .error-name{
    flex:1
}
#stats #statsSection .stats-error-icon{
    font-size:25px;
    color:#e74c3c;
    margin-top:-7px
}
#stats #statsSection .link-button{
    background-color:#e7ecfc;
    color:#365aa2;
    border:1px solid #365aa2;
    display:block;
    width:100%;
    text-align:center;
    border-radius:4px;
    font-weight:500;
    margin:9px 0 6px 0;
    padding:6px
}
#stats #statsSection .link-button:hover{
    text-decoration:none;
    color:#3264fc;
    border:1px solid #2d5ef2
}
.welcome-panel .widget-heading{
    background:#fff;
    border:0;
    color:#0a2540;
    text-transform:none
}
.welcome-panel .widget-heading .group-header-indicator{
    color:rgba(10,37,64,0.6)
}
.welcome-panel .widget-heading .group-header-indicator:hover,.welcome-panel .widget-heading .group-header-indicator:active,.welcome-panel .widget-heading .group-header-indicator:focus{
    color:rgba(10,37,64,0.8)
}
.welcome-panel .panel-body{
    width:100%
}
.welcome-panel .title{
    font-size:1.4em;
    font-weight:600;
    margin-bottom:32px
}
.welcome-panel .welcome-img,.welcome-panel .group-header,.welcome-panel .description{
    display:none
}
.welcome-panel .flex-row{
    justify-content:center;
    padding:0;
    text-align:center
}
.welcome-panel .flex-item{
    flex-direction:column;
    align-items:center;
    max-width:none
}
.welcome-panel .itemTextWrapper{
    text-align:center;
    max-width:300px
}
.welcome-panel .icon-email_accounts{
    background-image:url("img/email.svg");
    background-size:contain;
    background-position:initial;
    width:80px;
    height:80px;
    margin-bottom:10px
}
@media(max-width:767px){
    .welcome-panel .icon-email_accounts{
        width:60px;
        height:60px
    }
}
.welcome-panel .icon-wp-toolkit,.welcome-panel .icon-site_publisher{
    background-image:url("img/website.svg");
    background-size:contain;
    background-position:initial;
    width:80px;
    height:80px;
    margin-bottom:10px
}
@media(max-width:767px){
    .welcome-panel .icon-wp-toolkit,.welcome-panel .icon-site_publisher{
        width:60px;
        height:60px
    }
}
body #content{
    background:#f7f8fa
}
body #jump-search{
    display:none
}
body .welcome-wrapper{
    margin-top:0;
    margin-bottom:15px
}
body #boxes{
    margin-top:-10px
}
body #boxes .panel{
    background:#fff;
    border:0;
    border-radius:4px;
    box-shadow:0 3px 10px rgba(10,37,64,0.05);
    transition:box-shadow .5s
}
body #boxes .panel:hover{
    box-shadow:0 3px 10px rgba(10,37,64,0.25)
}
body #boxes .icon-container-body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:0
}
@media(min-width:576px) and (min-height:576px){
    body #boxes .icon-container-body{
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:flex-start;
        padding:15px;
        padding-top:15px;
        padding-bottom:5px
    }
    html[dir="ltr"] body #boxes .icon-container-body{
        padding-left:35px
    }
    html[dir="rtl"] body #boxes .icon-container-body{
        padding-right:35px
    }
}
body #boxes .item{
    height:auto;
    width:auto;
    border-top:1px solid #e4e9f2
}
@media(min-width:576px) and (min-height:576px){
    body #boxes .item{
        min-height:3em;
        width:200px;
        border-top:0
    }
}
body #boxes .itemImageWrapper{
    display:none
}
body #boxes .itemTextWrapper{
    width:100%;
    height:100%;
    margin:0;
    padding:1em 5px 1em 5px;
    color:#365aa2
}
html[dir="ltr"] body #boxes .itemTextWrapper {
    padding-left:40px
}
.spriteicon_img {
    margin-left: 40px;
    margin-top: 10px;
}
@media(min-width:576px) and (min-height:576px){
    html[dir="ltr"] body #boxes .itemTextWrapper{
        padding:5px;
        margin-left: unset;
    }
    .spriteicon_img {
        padding-left: unset;
        margin-left: 5px;
        margin-top: unset;
    }
}



html[dir="rtl"] body #boxes .itemTextWrapper{
    padding-right:40px
}
@media(min-width:576px) and (min-height:576px){
    html[dir="rtl"] body #boxes .itemTextWrapper{
        padding:5px
    }
}
@media(min-width:576px) and (min-height:576px){
    body #boxes .itemTextWrapper{
        height:auto;
        width:auto;
        margin-bottom:15px
    }
    html[dir="ltr"] body #boxes .itemTextWrapper{
        margin-right:1em
    }
    html[dir="rtl"] body #boxes .itemTextWrapper{
        margin-left:1em
    }
}
body #boxes .itemTextWrapper:hover,body #boxes .itemTextWrapper:active,body #boxes .itemTextWrapper:focus{
    color:#2d5ef2
}
body #boxes .itemTextWrapper:hover,body #boxes .itemTextWrapper:active,body #boxes .itemTextWrapper:focus{
    background:#f7f9fc
}
@media(min-width:576px) and (min-height:576px){
    body #boxes .itemTextWrapper:hover,body #boxes .itemTextWrapper:active,body #boxes .itemTextWrapper:focus{
        background:0
    }
}
.widget-heading {
    text-transform:none;
    border:0;
    border-radius:inherit;
    background:#fff;
    color:#0a2540;
    padding-top:22px;
    padding-bottom:22px
}
@media(min-width:576px) and (min-height:576px){
    body #boxes .panel-heading{
        padding-top:18px;
        padding-bottom:18px
    }
}
body #boxes .panel-heading .group-header{
    font-weight:600
}
body #boxes .panel-heading .group-header:before{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f7d9";
    color:#ff5e1a;
    display:inline-block;
    width:25px
}
body #boxes .panel-heading #files-header:before{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f07c"
}
body #boxes .panel-heading #databases-header:before{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f1c0"
}
body #boxes .panel-heading #domains-header:before{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f0ac"
}
body #boxes .panel-heading #email-header:before{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f0e0"
}
body #boxes .panel-heading #metrics-header:before{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f201"
}
body #boxes .panel-heading #security-header:before{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f3ed"
}
body #boxes .panel-heading #software-header:before{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f5fc"
}
body #boxes .panel-heading #advanced-header:before{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f085"
}
body #boxes .panel-heading #preferences-header:before{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f1de"
}
body #boxes .panel-heading #soft_div-header:before{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f135"
}
body #boxes .panel-heading #support-header:before{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f590"
}
body #boxes .panel-heading .group-header-indicator{
    color:#8f9bb3
}
body #boxes .panel-heading .group-header-indicator.fa-minus:before{
    content:"\f077"
}
body #boxes .panel-heading .group-header-indicator.fa-plus:before{
    content:"\f078"
}
@media(min-width:576px) and (min-height:576px){
    body #boxes .panel-body{
        border-top:1px solid #e4e9f2
    }
}
#sidebar {
    display: none;
}
